body {
    background-color: #343a40;
    color: white;
    font-family: Arial, sans-serif;
}

.cover-container {
    max-width: 42em;
}

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link.active {
    color: white;
    border-bottom-color: white;
}
